

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= customer.firstName %> <%=customer.lastName %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Copiar</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
      </div>
    </div>
  </div>

  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Painel de Controle</a></li>
            <li class="breadcrumb-item active"><%= customer.firstName %></li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <b>Atualizado em <%= new Date(customer.updateAt).toLocaleString("pt-BR") %></b>
        <b>Identificação do Cliente:</b> <%= customer._id %>
      </div>
   
    </div>
  </div>


  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Nome:</b></div>
        <div class="col"><%= customer.firstName %> <%= customer.lastName %></div>
      </div>
    </li>

    <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px"><b>Telefone:</b></div>
          <div class="col"><%= customer.tel %></div>
        </div>
      </li>
    
      <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px"><b>E-mail:</b></div>
          <div class="col"><%= customer.email %></div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px"><b>Detalhes:</b></div>
          <div class="col"><%= customer.details %></div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px"><b>Data de Criação:</b></div>
          <div class="col"><%= new Date(customer.createdAt).toLocaleString("pt-BR") %></div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px"><b>Data de Modificação:</b></div>
          <div class="col"><%= new Date(customer.updateAt).toLocaleString("pt-BR") %></div>
        </div>
      </li>
  </ul>
  
  <!--INATIVOOOO-->